<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>NASA EARTH IMAGERY</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}"/>

        <link href="{{url_for('static', filename='css/tooplate-little-fashion.css')}}" rel="stylesheet">

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <strong><span>Home</span></strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="nvbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link " href="/">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="/apod">APOD</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/earth_assets">EARTH</a>
                            </li>

                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        </div>
                    </div>
                </div>
            </nav>
            <br><br><br><br>


            <title>Earth Imagery</title>
        </head>
        <body>
            <section class="preloader">
                <div class="spinner">
                    <span class="sk-inner-circle"></span>
                </div>
            </section>
        
            <main>
            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Request Earth Imagery</h1>
                            <div class="div-separator w-50 m-auto my-5"><span>or</span></div>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
            <form action="/earth_assets" method="post">
                <div class="form-floating my-4">
                    <label for="latitude">Latitude:</label>
                    <input type="text" id="latitude" name="latitude" class="form-control" placeholder="Latitude" required>
                </div>

                <div class="form-floating my-4">
                <label for="longitude">Longitude:</label>
                <input type="text" id="longitude" name="longitude" class="form-control" placeholder="Longitude"required>
                </div>

                <div class="form-floating my-4">
                <label for="date">Date (YYYY-MM-DD):</label>
                <input type="text" id="date" name="date" class="form-control" placeholder="Date" required>
                </div>
        
                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Get Earth Imagery</button>
            </form>

        </div>
    </div>
    
</div>

</div>
</div>
</section>  
</main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="/">Home</a></h4>
                    </div>

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">About</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/Headroom.js')}}"></script>
        <script src="{{url_for('static', filename='js/jQuery.headroom.js')}}"></script>
        <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    </body>
</html>